* {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

html {
    background-color: darkslategrey;
    font-size: 30px;
    margin-top: 3em;
    margin-left: auto;
    height: 100%;
    margin: 0%;
    
}

img {
    max-width: 300px;
    image-orientation: from-image;
    display: flex;
    justify-content: center;
    border: black solid 10px;
    border-radius: 5em;
    margin-top: 2em;
    margin-bottom: 2em;
}

header{
    margin-top: 2em;
    max-width: 60%;
   background-color: cornflowerblue;
   color: blue;
   border-radius: 1em 1em 1em 1em;
   text-align: center;
   justify-content: center;
}

li{
    background-color: whitesmoke;
    color: black;
    border-radius: 5em;
    text-align: center;
    
}



footer {
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 3em;
    margin-top: 2em;
    background-color: black;
    display: flex;
    flex-flow: row;
    justify-content: center;
   
}

