<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${routes.name}">A route</title>
    <link href="/src/main/resources/static/styles.css" rel="stylesheet" type="text/css">
</head>

<body>

    <header>
        <h1 th:text="${routes.name}">A route</h1>
    </header>

    <main>

        <h2 th:text="${routes.style.name}"></h2>
        <h3 th:text="${routes.grade.yds}"></h3>
        <!-- <img th:src="${routes.img}" /> -->
        <p th:text="${routes.description}"></p>
    </main>

    <footer>
        <nav>
            <a href="/show-routes">Routes</a>
            <a href="/show-grades">Grades</a>
            <a href="/show-styles">Styles</a>
        </nav>

        <small>A Bootcamp Project by Caleb Stripes using Spring Framework</small>
    </footer>

</body>

</html>